@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
.App{
  margin: 0 auto;
  color: white;



}




.temp{
  font-family: 'Fira Sans', sans-serif;
  font-size:2rem;
  font-weight: 200;
}

.condition{
  font-family: 'Merriweather Sans', sans-serif;
  font-size:1.2rem;
  margin-bottom: 2em;

}

.icon{
  width: 25%;

}